<div class="flex flex-col items-center justify-center gap-7">
    <span class="text-3xl font-bold">Education</span>
    <div class="flex flex-wrap gap-7 justify-center">
        @for (item of educationItems; track item.title) {
            <p-card
                class="border border-zinc-400 drop-shadow-xl/20 text-center min-w-100 max-w-100"
            >
                <div class="flex flex-col items-center justify-center gap-4">
                    <i
                        class="fa-solid fa-graduation-cap fa-3x text-blue-500"
                    ></i>
                    <span class="text-xl font-semibold">{{ item.title }}</span>
                    <span class="text-lg text-gray-500">{{
                        item.organization
                    }}</span>
                    <span>{{ item.time }}</span>
                </div>
            </p-card>
        }
    </div>
</div>
