<div class="home-section-box container">
    <h1>Education</h1>
    <div id="educationMainBox" class="container">
        @for (item of educationItems; track item.title) {
            <p-card class="shadow">
                <div class="education-card-content">
                    <i
                        class="fa-solid fa-graduation-cap fa-3x text-primary"
                    ></i>
                    <h4>{{ item.title }}</h4>
                    <h4 class="text-secondary">{{ item.organization }}</h4>
                    <h6>{{ item.time }}</h6>
                </div>
            </p-card>
        }
    </div>
</div>
