<div id="aboutMeMainBox" class="bg-primary p-5">
    <img
        id="profilePic"
        ngSrc="assets/dilanka.jpg"
        class="rounded-circle border border-light shadow-lg border-5 profile-pic-img"
        alt="Dilanka Rathnasiri"
        width="300"
        height="300"
        priority
    />

    <div id="description">
        <h1>Dilanka Rathnasiri</h1>
        <h4>Software Engineer</h4>
        <p>
            Passionate backend engineer with a strong interest in cloud
            computing, system architecture, and DevOps
        </p>
    </div>
</div>
