<div class="flex flex-wrap justify-center items-center gap-20 bg-blue-500 p-7">
    <img
        ngSrc="assets/dilanka.jpg"
        class="border-white rounded-full shadow-lg border-5 profile-pic-img"
        alt="Dilanka Rathnasiri"
        width="300"
        height="300"
        priority
    />

    <div
        class="flex flex-col justify-around items-center min-w-80 max-w-140 text-center gap-4 text-white"
    >
        <span class="text-6xl font-bold">Dilanka Rathnasiri</span>
        <span class="text-3xl font-semibold">Software Engineer</span>
        <p class="font-semibold">
            Passionate backend engineer with a strong interest in cloud
            computing, system architecture, and DevOps
        </p>
    </div>
</div>
