<div id="aboutMeMainBox" class="global-container bg-primary p-5">
    <img
        id="profilePic"
        ngSrc="assets/dilanka.jpg"
        class="rounded-circle border border-light shadow-lg border-5 profile-pic-img"
        alt="Dilanka Rathnasiri"
        width="300"
        height="300"
        priority
    />

    <div id="aboutMeLeftBox">
        <h1 class="custom-text-white">Dilanka Rathnasiri</h1>
        <h4 class="custom-text-white">Software Engineer</h4>
        <p class="custom-text-white">
            Passionate backend engineer with a strong interest in cloud
            computing, system architecture, and DevOps
        </p>
    </div>
</div>
