#aboutMeMainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 20rem;
    max-width: 35rem;
    text-align: center;
    color: white;
}
