<div class="home-section-box container">
    <h1>Certifications</h1>
    <div class="custom-wrap-flex-row container">
        @for (certificate of certificates; track certificate.title) {
            <div class="custom-card card shadow">
                <div class="card-body">
                    <h4>{{ certificate.title }}</h4>
                    <h4 class="text-secondary">
                        {{ certificate.organization }}
                    </h4>
                    <h6>{{ certificate.time }}</h6>
                    <a
                        [href]="certificate.link"
                        class="btn btn-primary"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        View Certificate
                    </a>
                </div>
            </div>
        }
    </div>
</div>
