<div class="home-section-box container">
    <h1>Certifications</h1>
    <div id="certMainBox" class="container">
        @for (certificate of certificates; track certificate.title) {
            <p-card
                [header]="certificate.title"
                [subheader]="certificate.organization"
                class="shadow"
            >
                <p>{{ certificate.time }}</p>
                <ng-template pTemplate="footer">
                    <a
                        [href]="certificate.link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <p-button label="View Certificate"></p-button>
                    </a>
                </ng-template>
            </p-card>
        }
    </div>
</div>
