<div class="home-section-box container">
    <h1>Experience</h1>
    <div id="experienceMainBox" class="container">
        @for (item of experienceItems; track item.title) {
            <p-card
                class="shadow"
                [header]="item.title"
                [subheader]="item.organization"
            >
                <ng-template pTemplate="footer">
                    <h6>{{ item.time }}</h6>
                </ng-template>
            </p-card>
        }
    </div>
</div>
