#experienceMainBox {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

p-card {
    min-width: 25rem;
    max-width: 25rem;
    text-align: center;
}
