<div class="flex flex-col items-center justify-center gap-7">
    <span class="text-3xl font-bold">Skills</span>
    <div class="flex flex-wrap gap-7 justify-center">
        @for (item of skillsItems; track item.name) {
            <p-card
                class="border bg-blue-500! border-zinc-400 drop-shadow-xl/20"
            >
                <span class="text-l text-white font-semibold">{{
                    item.name
                }}</span>
            </p-card>
        }
    </div>
</div>
