<div class="container-fluid border-bottom">
    <div class="container bar-flex-row pt-3 pb-2">
        <a id="brand" class="h5" routerLink="/">Dilanka Rathnasiri </a>

        <div class="bar-flex-row">
            @for (item of menuItems; track item.label) {
                <a
                    class="box-navbar-text"
                    [routerLink]="item.link"
                    routerLinkActive="active"
                    aria-current="page"
                    [routerLinkActiveOptions]="{ exact: item.exact }"
                >
                    {{ item.label }}
                </a>
            }
        </div>

        <app-social-media />
    </div>
</div>
