<div
    class="w-full px-16 py-3 border-b border-b-slate-400 grid grid-cols-3 content-center items-center"
>
    <a class="justify-self-start text-xl font-bold" routerLink="/"
        >Dilanka Rathnasiri
    </a>

    <div class="justify-self-center flex gap-7">
        @for (item of menuItems; track item.label) {
            <a
                class="box-navbar-text"
                [routerLink]="item.link"
                routerLinkActive="active"
                aria-current="page"
                [routerLinkActiveOptions]="{ exact: item.exact }"
            >
                {{ item.label }}
            </a>
        }
    </div>

    <app-social-media class="justify-self-end" />
</div>
