.box-navbar-text.active {
    font-weight: bold;
}

#brand {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#navBarMainBox {
    padding-top: 0.5rem;
}

app-social-media {
    margin-top: 0.25rem;
}
