<div class="custom-wrap-flex-row container">
    @for (project of projects; track project.title) {
        <div class="custom-card card shadow">
            <div class="card-body">
                <h4>{{ project.title }}</h4>
                <p class="text-secondary">{{ project.description }}</p>
                <button
                    (click)="openLink(project.link)"
                    class="btn btn-primary"
                >
                    View on <i class="fa-brands fa-github"></i>
                </button>
            </div>
        </div>
    }
</div>
