<div id="mainBox" class="container">
    @for (project of projects; track project.title) {
        <p-card
            [header]="project.title"
            [subheader]="project.description"
            class="shadow"
        >
            <ng-template pTemplate="footer">
                <a
                    [href]="project.link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <p-button
                        icon="fa-brands fa-github"
                        label="View on Github"
                    ></p-button>
                </a>
            </ng-template>
        </p-card>
    }
</div>
