@use 'bootstrap/scss/bootstrap';
@use '@fortawesome/fontawesome-free/css/all.css';

html,
body {
    height: 100%;
    margin: 0;
}

// ---------------------------------------------------------

// common

.custom-wrap-flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.custom-card {
    min-width: 25rem;
    max-width: 25rem;
    text-align: center;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

// ---------------------------------------------------------

// nav bar and footer

.bar-flex-row {
    display: flex;
    justify-content: space-between;
}

// ---------------------------------------------------------

// nav bar

.box-navbar-text {
    color: black;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

// ---------------------------------------------------------

// home section
.home-section-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    h1 {
        text-align: center;
    }
}

// ---------------------------------------------------------

// for change cursor to pointer on icons
.cursor-pointer {
    cursor: pointer;
}
