<div class="flex flex-col items-center justify-center gap-7">
    <span class="text-3xl font-bold">What I do</span>
    <div class="flex flex-wrap gap-7 justify-center">
        @for (item of whatIDoItems; track item.title) {
            <p-card
                class="border border-zinc-400 drop-shadow-xl/20 text-center min-w-100 max-w-100"
            >
                <div class="flex flex-col items-center justify-center gap-4">
                    <i
                        [class]="`${item.icon} fa-3x text-primary text-blue-500`"
                    ></i>
                    <span class="text-xl font-bold">{{ item.title }}</span>
                    <p class="card-text">{{ item.description }}</p>
                </div>
            </p-card>
        }
    </div>
</div>
