<div class="home-section-box container">
    <h1>What I do</h1>
    <div class="custom-wrap-flex-row container">
        @for (item of whatIDoItems; track item.title) {
            <div class="custom-card card shadow">
                <div class="card-body">
                    <i [class]="`${item.icon} fa-3x text-primary`"></i>
                    <h4>{{ item.title }}</h4>
                    <p class="card-text">{{ item.description }}</p>
                </div>
            </div>
        }
    </div>
</div>
